@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    /* Light Mode Variables */
    --bg-body: #F6F8FF;
    --logo: #222731;
    --text-bold: #2B3442;
    --text-regular: #4B6A9B;
    --text-light:#697C9A;
    --blue:#0079FF;
    --blue-hover: #60ABFF;
    --bg-elements: #FEFEFE;
    --error: #F74646;
    
}

/* Dark Mode Variabes */
.dark-theme{
    --bg-body: #141D2F;
    --logo: #FFFFFF;
    --text-bold: #FFFFFF;
    --bg-elements: #1E2A47;
    --text-regular: #FFFFFF;
}

body{
    font-family: 'Space Mono', monospace;
    background-color: var(--bg-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100vw;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--logo);
}
.theme-switch{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.theme-name{
    text-transform: uppercase;
    color: var(--text-regular);
    font-size: 1rem
}

.theme-icon{
    width: 20px;
    height: 20px;
}

.theme-icon > img{
    height: 100%;
    width: 100%;

}


.search-container{
    width: 90%;
    height: 70px;
    border-radius: 15px;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    background-color: var(--bg-elements);
}
.search-icon{
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.search-icon img{
    height: 100%;
    width: 100%;
}


.search-input{
    width: 50%;
    background-color: var(--bg-elements);
}

.search-input input{
    font-family: 'Space Mono', monospace;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    color: var(--logo);
    line-height: 25px;
    background-color: var(--bg-elements);
    padding-left: 20px;
}

.search-input input:focus{
    outline: none;
}

.search-input input::placeholder{
    color: var(--text-regular);
    font-family: 'Space Mono', monospace;
    font-size: 0.8rem;
}

.search-error{
    width: 22%;
    text-align: right;
    padding-right: 10px;
    color: var(--error);
    font-size: 0.7rem;
    visibility: hidden;
}

.search-button{
    display: flex;
    background-color: var(--blue);
    height: 100%;
    width: 25%;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    flex-shrink: 0;
}

.search-button input{
    background-color: var(--blue);
    color: #FFFFFF;
    border: none;
    outline: none;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 0.9rem;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: normal;
    cursor: pointer;
}

.search-button > input:hover{
    background-color: var(--blue-hover);
}

main{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    background-color: var(--bg-elements);
    border-radius: 15px;
    margin: 20px;

}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    height: 100%;
    width: 100%;
}

.profile-details{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

.profile-details .profile-name{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--text-bold);
}

.profile-details .profile-tag{
    font-weight: 400;
    color: var(--blue);
    font-size: 0.8rem;
}

.profile-date{
    font-weight: 400;
    color: var(--text-regular);
    font-size: 0.8rem;
}

.bio{
    color: var(--text-regular);
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 40px;
    line-height: 1.5rem;
    width: 100%;
    word-spacing: 3px;
    opacity: 0.8;
}

.stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--bg-body);
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

h2{
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--text-regular);
    margin-bottom: 10px;
}

.repo, .followers, .following > div{
    color: var(--text-bold);
    font-size: 1.5rem;
    font-weight: 700;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 20px;
}

.contact-details{
    display: flex;
    gap: 20px;
}

.contact-icon{
    width: 23px;
    height: 23px;
}

.contact-icon img{
    height: 100%;
    width: 100%;
}

.contact-info{
    font-size: 0.8rem;
    color: var(--text-regular);
    text-decoration: none;
    /* word-wrap: break-word;
    overflow-wrap: break-word; */
}

.contact-details a:hover{
    text-decoration: underline;
}


/* Tablet Design */
@media (min-width: 768px) and (max-width: 1024px) {
body{
    justify-content: center;
}

header{
    width: 75%;
}

.logo{
    font-size: 2rem;
}

.theme-name{
    font-size: 1.2rem;
}

.theme-icon{
    width: 30px;
    height: 30px;
}

.search-container{
    width: 75%;
    height: 80px;
    border-radius: 20px;
    padding: 12px;
}

.search-icon{
    height: 30px;
    width: 30px;
}

.search-input input{
    font-size: 1.4rem;
}

.search-input input::placeholder{
    font-size: 1.1rem;
}

.search-button{
    border-radius: 12px;
}

.search-button input{
    font-size: 1.3rem;
}

main{
    width: 75%;
    padding: 50px;
}

.profile{
    gap: 30px;
}

.profile-img{
    width: 150px;
    height: 150px;
}

.profile-details .profile-name{
    font-size: 2.2rem;
}

.profile-details .profile-tag{
    font-size: 1.2rem;
}

.profile-date{
    font-size: 1.2rem;
}

.bio{
    font-size: 1.2rem;
    line-height: 2rem;
    word-spacing: 1px;
    margin-bottom: 20px;
}

.stats{
    text-align: left;
    margin-bottom: 30px;
}

h2{
    font-size: 1.2rem;
}

.repo,.followers,.following > div{
    font-size: 2rem;
}

.contact{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
}

.contact-details{
    width: 50%;
}

.location ,  .link{
    margin-bottom: 20px;
}




.contact-icon{
    width: 30px;
    height: 30px;
}

.contact-info{
    font-size: 1.2rem;
}
}

/* Desktop Styles */
@media (min-width: 1025px) {
    body{
        justify-content: center;
    }

    header{
        width: 60%;
    }

    .search-container{
        width: 60%;
    }
    main{
        width: 60%;
    }

    .profile{
        gap: 15px;
    }

    .profile-img{
        width: 130px;
        height: 120px;
    }

    .profile-details .profile-name{
        font-size: 2rem;
    }
    
    .profile-details .profile-tag{
        font-size: 1rem;
    }
    
    .profile-date{
        font-size: 1rem;
    }

    .profile-details{
        position: relative;
        width: 90%;
    }
    
    .profile-date{
        position: absolute;
        top: 0;
        right: 50px;
    }

    .bio{
        width: 80%;
        align-self: flex-end;
        margin-top: 0;
    }

    .stats{
        width: 80%;
        align-self: flex-end;
        gap: 70px;
        padding: 10px 0 10px 30px;
        justify-content: flex-start;
    }


    .contact{
        width: 80%;
        align-self: flex-end;
        justify-content: space-between;
        gap: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }

    .location ,  .link{
        margin-bottom: 20px;
    }

    .twitter{
        opacity: 0.5;
    }


}