@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Light Mode Variables */
    --bg-body: #F6F8FF;
    --logo: #222731;
    --text-bold: #2B3442;
    --text-regular: #4B6A9B;
    --text-light:#697C9A;
    --blue:#0079FF;
    --blue-hover: #60ABFF;
    --bg-elements: #FEFEFE;
    --error: #F74646;
    
}

/* Dark Mode Variabes */
.dark-theme{
    --bg-body: #141D2F;
    --logo: #FFFFFF;
    --text-bold: #FFFFFF;
    --bg-elements: #1E2A47;
    --text-regular: #FFFFFF;
}

body{
    font-family: 'Space Mono', monospace;
    background-color: var(--bg-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--logo);
}
.theme-switch{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.theme-name{
    text-transform: uppercase;
    color: var(--text-regular);
    font-size: 1rem
}

.theme-icon{
    width: 20px;
    height: 20px;
}

.theme-icon img{
    height: 100%;
    width: 100%;
}

.search-container{
    width: 90%;
    height: 70px;
    border-radius: 15px;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    background-color: var(--bg-elements);
}
.search-icon{
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.search-icon img{
    height: 100%;
    width: 100%;
}

.search-input{
    width: 72%;
    background-color: var(--bg-elements);
}

.search-input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    color: var(--text-regular);
    line-height: 25px;
    background-color: var(--bg-elements);
}

.search-input input:focus{
    outline: none;
}

.search-input input::placeholder{
    color: var(--text-regular);
    font-family: 'Space Mono', monospace;
    font-size: 0.8rem;
}

.search-button{
    display: flex;
    background-color: var(--blue);
    height: 100%;
    width: 25%;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    flex-shrink: 0;
}

.search-button input{
    background-color: var(--blue);
    color: #FFFFFF;
    border: none;
    outline: none;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 0.9rem;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: normal;
    cursor: pointer;
}

.search-button > input:hover{
    background-color: var(--blue-hover);
}

main{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    background-color: var(--bg-elements);
    border-radius: 15px;
    margin: 20px;

}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    height: 100%;
    width: 100%;
}

.profile-details{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

.profile-details .profile-name{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--text-bold);
}

.profile-details .profile-tag{
    font-weight: 400;
    color: var(--blue);
    font-size: 0.8rem;
}

.profile-date{
    font-weight: 400;
    color: var(--text-regular);
    font-size: 0.8rem;
}

.bio{
    color: var(--text-regular);
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 40px;
    line-height: 1.5rem;
    width: 100%;
    word-spacing: 3px;
    opacity: 0.8;
}

.stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--bg-body);
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

h2{
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--text-regular);
    margin-bottom: 10px;
}

.repo, .followers, .following > div{
    color: var(--text-bold);
    font-size: 1.5rem;
    font-weight: 700;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 20px;
}

.contact-details{
    display: flex;
    gap: 20px;
}

.contact-icon{
    width: 23px;
    height: 23px;
}

.contact-icon img{
    height: 100%;
    width: 100%;
}

.contact-info{
    font-size: 0.8rem;
    color: var(--text-regular);
    text-decoration: none;
}
